.game-table-container {
  width: 500px;
  height: 500px;

  display: grid;
  background-color: var(--main-color-4);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--main-color-1);
}

.game-table-cell {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.started {
  background-color: white;
  border: 1px solid black;
}

.started-cell {
  border: 1px solid black;
}

#logo {
  position: absolute;
  top: 20%;
  left: 30%;
}
