// GAME INFO CONTAINER

// MAIN CONTAINER
.game-info-container {
  font-family: Poppins;
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #7743db;
  border-radius: 30px;
  color: white;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

// SECTION TITLE
.game-info-title {
  font-family: Poppins;
  font-weight: 800;
  background-color: #ffe9b1;
  height: 60px;
  width: 180px;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}

// PLAYERS SECTION
.game-player-title {
  font-family: Poppins;
  font-weight: 800;
  background-color: #3b3486;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}

// DESCRIPTION SECTION

.game-info-description {
  padding-left: 5%;
  padding-right: 5%;
}

//PLAY BUTTON
.game-info-play-button {
  border-style: none;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  font-family: Poppins;
  font-weight: 800;
  letter-spacing: 5px;
  font-size: 1rem;
}

.game-info-play-button:hover {
  scale: 1.1;
}

// LIVE GAME INFO

.game-info-description-live {
  position: absolute;
  padding-top: 40%;
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 40px;
}

.player-name-container {
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.player-name-container h3 {
  color: black;
}

.selected {
  background-color: var(--main-color-3);
  box-shadow: 1px 1px 10px 4px var(--main-color-3);
}

.player-name-container-content {
  display: flex;
}
