:root {
  --main-color-1: #3b3486;
  --main-color-2: #7743db;
  --main-color-3: #ffe9b1;
  --main-color-3-darker: #ecd7a3;
  --main-color-4: #fcfdf2;
  --main-font: Poppins;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-color-1);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  justify-items: center;
  align-items: center;
}

// BOLD SPAN

.bold {
  font-weight: 800;
  color: var(--main-color-3);
}

// VISIBLE / INVISIBLE

.visible {
  visibility: visible;
  top: 0;
  scale: 1;
  left: 0;
  bottom: 0;
}

.appear {
  display: flex;
}

.invisible {
  display: none;
}
